Repository kotct/dot, pull requests merged in 2018-07, with the labels that each got.

#107 add ability to run pre-load config
  .emacs.d/init.el
Labels: Concerns: Emacs Configuration, Needs: Discussion

#114 Code of conduct
  CODE_OF_CONDUCT.md
Labels: Concerns: Dot

#119 Some changes to the travis.yml style
  .travis.yml
Labels: Concerns: Travis

#120 Add support for display-line-numbers-mode
  .emacs.d/lisp/visual/line-numbers-c.el
  .emacs.d/lisp/visual/linum-c.el
  .emacs.d/lisp/visual/visual-hub.el
Labels: Concerns: Emacs/tree/visual

#118 Add two Emacs versions to the build matrix
  .emacs.d/test/lisp/install.el
  .travis.yml
Labels: Concerns: Travis
